body {
	font-size: 18px;
	font-family: sans-serif;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 50px;
}

.list-item {
	margin-bottom: 20px;
}

.list-item-2 {
	margin: 10px 0;
}

.span {
	color: red;
}

.span-2 {
	font-weight: 700;
	color: green;
}
